@media only screen and (max-width: 400px) {
    #mdb-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 5%;
    }

    #user-greeting {
        padding-right: 0vh;
    }

    #wallet-balance{
        width: 50vh;
        padding-right: 2%;
    }

    #mdb-icon {
        padding-right: 2vh;
    }

    MDBCardBody{
        width: 100vh;
    }
}